:root {
	--cor-primaria: #690395;
	--cor-primaria-escura: #5d0285;
	--cor-secundaria: #FEB71F;
	--cor-secundaria-escura: #ebaa1d;
	--cor-terciaria: #FC6701;
	--cor-texto: #000000;
	--cor-branco: #FFFFFF;
}
* {
	margin: 0;
	padding: 0;
}

body {
    background-color: var(--cor-secundaria);
    min-height: 100vh;

}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  }
  

@font-face {
	font-family: 'Petangue';
	src: url('../fonts/petangue.otf') format('opentype');
}

h1 {
	font-family: "Raleway", serif;
	text-align: center;
}

h2 {
	font-family: "petangue", sans-serif;
	text-align: center;
	font-size: xxx-large;
	color: var(--cor-primaria);
	font-weight: 100;
}

h3 {
	font-family: "Raleway", serif;
}

p {
	font-family: "Raleway", serif;
}

.logo {
	width: 300px;
}

body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar:hover { width: 9px; }

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #57037d; /* Usa a cor escura quando o mouse está em cima */
}

body::-webkit-scrollbar-track {
    background-color: var(--cor-secundaria-escura);
}



/* header */
header {
	background: linear-gradient(135deg, var(--cor-primaria), #57037d);
	border-radius: 0 0 150px 150px; 
	min-height: 70vh;
	box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

@media screen and (max-width:520px ) { header { border-radius: 0 0 100px 100px; } }
@media screen and (max-width:470px ) { header { border-radius: 0 0 50px 50px; } }

.btn-whatsapp-header {
	padding: 15px 35px;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 50px;
	background: #25d366;
	border: none;
	box-shadow: 0 0px 15px rgb(255 255 255 / 33%);
	transition: all 0.3s ease;
}

.btn-whatsapp-header:hover {
	background: #1ba04c;
}
